
* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-rows: 300px 475px 50px;
  background: linear-gradient(to left, white, black);
  background: url("https://i.imgur.com/qnt7mns.jpg");
  background-size: cover;
  background-position-y: center;  
}

.site-header {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-top: 30px;   
}

nav {
  font-family: 'Oswald', sans-serif;
  text-align: center;  
}

#nav-link {
  padding: 0px 20px 0px 20px;
  color: white;
}


h1, h2 {
  color: white;
  background: linear-gradient(to right,rgb(138, 72, 72), rgb(3, 2, 2));
  opacity: 0.5;
  text-align: center;
  height: 50px;  
  font-family: 'Caveat', cursive;
}

.h1-class {
  padding: 20px;
  font-size: 60px;
  font-weight: bold;
}

.h2-class {
  padding: 20px;
  font-size: 35px;
}


.nav-class {
  background: rgb(39, 26, 26);
  opacity: 0.7;
  height: 20px;
  padding: 8px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

.site-main {
  grid-column: 1 / 3;
  grid-row: 2 / span 2;
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 8px;
}

.label-class {
  padding: 2px 0px 2px 0px;
  font-family: 'Caveat', cursive;
  font-size: 38px;
  text-align: center;
}

#fruits-list {
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  background: rgb(39, 26, 26);
  opacity: 0.8;
  text-align: center;
  color: white;
  margin-inline: 20px;
}


#fruits-list:hover {
  background: rgb(119, 58, 58);

}

.fruit-option {
  background: rgb(39, 26, 26);

}

#submit-button {
  display: inline-block;
  background: rgb(39, 26, 26);
  opacity: 0.8;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  background-color: rgb(31, 30, 30); 
  font-family: 'Oswald', sans-serif;
  font-weight:400;
  text-align:center;
  color: white;
}

#submit-button:hover {
  background: rgb(119, 58, 58);
}


#farm-info {
  display: block;
  margin-top: 10px;
  font-family: 'Oswald', sans-serif;
  color: rgb(253, 253, 253); 
  width: 100%;
  height: 400px;
  overflow-y: scroll;  
  
}

.farm-name {
  font-size: 22px;
}

.farm-url {
  color: yellow;
}

.site-footer { 
  grid-column: 1 / 3;
  grid-row: 3;
  background: rgb(39, 26, 26);
  opacity: 0.5;
  text-align:center;
  padding: 1px;
  color: white;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px; 
}

@media only screen 
   and (min-device-width: 320px)
   and (max-device-width: 736px) {

    .container {
      display: grid;
      grid-template-rows: 300px 475px 50px;
      background-repeat: no-repeat; 
      background-position: center;
    }
    
    .site-main {
      padding: 2px;
    }

    h1 h2 {
      height: 30px;
    }
    .h1-class {
      font-size: 30px;
      padding: 2px;
    }

    .h2-class {
      font-size: 15px;
      padding: 2px;
    }

    .nav-class {
      font-size: 15px;
      height: 10px;
    }

    .label-class {
      padding: 0px;
      font-size: 20px;
    }

    #fruits-list {
      padding: 0px;
      font-size: 15px;
      margin-inline: 0px;
    }

    #submit-button {
      display: inline-block;
      padding: 0px;
      font-size: 15px;
    }

    #farm-info {
      display: block;
      margin-top: 5px;
      width: 100%;
      height: 400px;
      overflow-y: scroll;  
    }

    .site-footer { 
      padding: 1px;
      font-size: 5px;
      margin-bottom: 1px; 
      height: 3px;
    }
  
 
}