
.site-header {
  background-color: darkkhaki;
  
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: right;
  
}

#nav-link {
  padding: 0px 10px 0px 10px;
  color: grey;
}


main {
  
  background: url("https://i.imgur.com/ndAejYD.jpg");
  background-size: cover;
  padding: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

#submit-button {
  background-color: darkblue;
  color: white;

}

#fruit-list {
  font-family: Arial, Helvetica, sans-serif;

}

#farm-info {
  font-family: Arial, Helvetica, sans-serif;

}

.site-footer {
  background-color: aqua;
  padding: 10px;
  text-align: center;
}